@import "tailwindcss";


#root {
  margin: 0 auto;
  text-align: center;
  --primary: #692024;
  --primary-hover: #8a2e33;
  --primary-foreground: #ffffff;

  --secondary: #707070;
  --secondary-hover: #8a8a8a;
  --secondary-foreground: #ffffff;
}